<!-- Navbar Start -->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    
    
   
    
        <div class="row">
  	    <div class="col-md-12 navbar-dashbord" style="margin-bottom: 0px;">
            <div class="row">
           		
            	
                <div class="col-sm-5">
                	<a href="#" class="dash-logo"><img src="assets/img/dash-logo.png" alt="" height="45" id="RefreshRequest"></a>
                	<a href="javascript:;" class="sidebar-toggle"> <i class="fa fa-bars"></i></a> <span class="close-btn" id="hide-btn"><i class="fa fa-bars" aria-hidden="true"></i></span>
                    
        <div class="search_area">
        	<div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
        			</div>
       
   			</div>
   			<div class="col-sm-7">
               		<div class="row">
              			 <ul class="list-inline">
              			
                	<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/login-ico.png" alt="" height="26"> Me<span class="caret"></span></a>			 					<ul class="dropdown-menu" role="menu" >
                <li id="updateIndividualLink"><a href="#">Update Profile</a></li>
                <li id="clientAccountSettingLink"><a href="#">Account Settings</a></li>
              </ul>
              </li>
                    <li><a href="#" id="Logout"><img src="assets/img/Logout.png" alt="" height="24"> Logout</a></li>
                    
					</ul>
               	
               	 <div class="nav_slider">
                    <ul id="nav_slider"> <!-- class="owl-carousel"  -->
                    
                    <li><a href="javascript:loadClientQueryDataInTable('newLegalAdvisory','Legal Advisory','newQuery');"><img src="assets/img/sub-menu-ico.png" alt=""><span class="badge"><b id="newLegalAdvisoryC"></b></span></a></li>
                    
                    <li><a href="javascript:loadClientDataInTable('newDisputeResolution','','newDisputeResolution')"><img src="assets/img/sub-menu-ico1.png" alt=""><span class="badge"><b id="newDisputeResolutionC"></b></span></a></li>
                    
                    <li><a href="javascript:loadClientDataInTable('newContractManagement','','newContractManagement')"><img src="assets/img/sub-menu-ico2.png" alt=""><span class="badge"><b id="newContractManagementC"></b></span></a></li>
                    
                    <li><a href="javascript:loadClientDataInTable('newDueDiligence','','newDueDiligence')"><img src="assets/img/sub-menu-ico3.png" alt=""><span class="badge"><b id="newDueDiligenceC"></b></span></a></li>
                    
                    <li><a href="#"><img src="assets/img/sub-menu-ico4.png" alt=""><span class="badge"></span></a></li>
                    
                    <li><a href="#"><img src="assets/img/sub-menu-ico5.png" alt=""></a></li>
                    
                    <li><a href="javascript:loadClientQueryDataInTable('newTaxAdvisory','Tax Advisory','newQuery')"><img src="assets/img/sub-menu-ico9.png" alt=""><span class="badge"><b id="newTaxAdvisoryC"></b></span></a></li></a></li>
                    
                   </ul>
                </div> 
                
                
               		</div>
                
                </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  </div>
  </div>
  <!-- /.container-fluid -->
</nav>


<span id="userToken" style="display:none;"> </span>
<span id="client_id" style="display:none;"> </span> 
<span id ="fixedquery_span" ></span>
<input name="query_Id" id="fixedquery" type="hidden"></input>

<!-- <a hidden href="#" data-toggle="modal" data-target="#timerModal" id="showtimer">Session End Popup</a>
<div class="modal fade" id="timerModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button hidden type="button" id="hideTimer" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Alert</h3>
        
      </div>
      <div class="modal-body">
       <div class="loading-clock"></div>
       <div style="float:left; margin:10px;">
       	<img src="assets/imgs/Warning_sign.png" height="80" width="80" alt=""/>
       	</div>
       	<div style="margin:20px 15px;">
       	<div>your session will be expired in <b><span id="timer">30:00</span></b></div>
		<div>Please click <b><a id="initializeTimer">here</a></b> to extend your session, or you will be signout by the system.</div>
      </div>
    </div>
  </div>
</div>
</div> -->

<script>
$(document).on('click',"#Logout",function() {
	loadGenericPagesOnLogout();
});
</script>
